@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

// http://sorgalla.com/lity/
@import 'lity';

@import 'easy-autocomplete/easy-autocomplete';
// @import 'easy-autocomplete/easy-autocomplete.themes';

@import 'grid/bootstrap';
/* @import 'grid/bootstrap-theme'; */

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &.category-l {
    background-color: $gray;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.btn {
  font-size: 14px;
  font-weight: normal;

  text-align: center;

  border-radius: $base-border-radius;
  &.btn-blue {
    border-bottom: 2px solid #0a170b;
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
      // box-shadow: $base-box-shadow;
    }
  }
  &.btn-orange {
    font-size: 18px;
    font-weight: normal;

    color: $blue;
    border-bottom: 2px solid #b78727;
    background-color: $orange;
    // box-shadow: 0 2px 3px 0 rgba(0,0,0,.75);
    &:hover {
      background-color: darken($orange, 10%);
      // box-shadow: 0 2px 6px 0 rgba(0,0,0,.75);
    }
  }
  &:hover {
    transform: scale(1.01);
    text-decoration: none;
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 60px;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  height: 60px;

  background-color: #fff;
  box-shadow: 0 1px 9px 0 rgba(0, 1, 1, .35);
  .header-logo {
    padding-top: 12px;
    img {
      max-width: 100%;
      margin-right: 10px;
    }
    .header-logo--form {
      display: inline-block;

      width: 175px;
      height: 30px;
      input {
        width: 100%;
        height: 100%;
        padding-right: 7px;
        padding-left: 7px;

        color: $blue;
        border: 1px solid $gray;
      }
    }
  }
  .header-nav {
    padding-top: 20px;
    .headnav {
      @extend .justify-child;
      li {
        &:last-child {
          position: relative;
          &:after {
            position: absolute;
            top: -5px;
            right: -35px;

            width: 1px;
            height: 30px;

            background-color: #e4eaed;

            @extend .dblock;
          }
        }
        a {
          font-size: 14px;
          font-weight: 300;

          text-transform: uppercase;

          color: $blue;
          border-bottom: 2px dotted transparent;
        }
        &:hover {
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .header-ico {
    padding-top: 23px;
    padding-right: 20px;

    @extend .justify-child;
    .header-ico--ring,
    .header-ico--mail,
    .header-ico--book {
      display: inline-block;

      width: 17px;
      height: 17px;

      cursor: pointer;

      background-color: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
    .header-ico--ring {
      background-image: url(../img/ico/header-ico--ring.png);
      background-position: center;
      &:hover {
        background-image: url(../img/ico/header-ico--ring-h.png);
      }
    }
    .header-ico--mail {
      background-image: url(../img/ico/header-ico--mail.png);
      &:hover {
        background-image: url(../img/ico/header-ico--mail-h.png);
      }
    }
    .header-ico--book {
      background-image: url(../img/ico/header-ico--book.png);
      &:hover {
        background-image: url(../img/ico/header-ico--book-h.png);
      }
    }
  }
  .header-account {
    padding-top: 12px;
    padding-left: 0;
    .header-account--avatar {
      position: relative;

      display: block;

      width: 34px;
      height: 34px;

      cursor: pointer;

      border: 1px solid #e5eaee;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &:after {
        position: absolute;
        top: 50%;
        right: -15px;

        margin-top: -3px;

        @extend .dblock;
        @include triangle(8px 7px, $blue, down);
      }
      &.header-account--avatar-a {
        &:after {
          display: none;
        }
      }
      &:hover {
        box-shadow: $base-box-shadow;
      }
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}
.header-after {
  height: 96px;
  padding-top: 23px;

  background-color: $gray;
  background-position: top;
  h6 {
    font-size: 18px;
    font-weight: 300;

    text-align: center;
    span {
      display: block;
    }
  }
}
.header-title {
  height: 95px;
  margin-bottom: 20px;
  padding-top: 30px;

  background-color: #fff;
  h6 {
    font-size: 32px;
    font-weight: 300;

    color: $blue;

    @extend .clearfix;
  }
  .btn {
    font-size: 16px;

    float: right;

    width: 190px;
    height: 40px;
  }
}
.home-search {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $orange;
  .home-search--autocomplete {
    font-size: 14px;
    font-weight: 300;

    position: relative;

    margin-bottom: 0;
    padding-top: 15px;
    &:after {
      position: absolute;
      top: 0;
      right: -30px;
      bottom: 0;

      width: 1px;

      background-color: #f6ce7d;

      @extend .dblock;
    }
    h6 {
      font-size: 34px;
      font-weight: 300;

      margin-bottom: 5px;

      text-transform: uppercase;
    }
    form {
      position: relative;

      width: 100%;
      height: 50px;
      margin-bottom: 12px;
      &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;

        width: 150px;

        background-color: $orange;

        @extend .dblock;
      }
      input {
        font-size: 14px;
        font-weight: 300;

        width: 100%;
        height: 100%;
      }
      button {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;

        width: 145px;
        margin-right: 15px;
      }
    }
  }
  .home-search--how {
    .home-search--how-button {
      display: block;

      width: 220px;
      height: 150px;
      padding-top: 115px;

      text-align: center;

      border-radius: $base-border-radius;
      background-color: $blue;
      background-image: url(../img/bg/home-search--how-button.png);
      background-repeat: no-repeat;
      background-position: center 30px;
      span {
        font-size: 14px;
        font-weight: 300;

        text-align: center;

        color: #fff;
      }
      &:hover {
        text-decoration: none;

        background-color: darken($blue, 10%);
      }
    }
  }
}
.popular-cats {
  padding-top: 40px;
  .popular-cats--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 35px;

    text-align: center;
  }
  .popular-cats--item {
    .popular-cats--item-c {
      display: block;

      height: 150px;
      margin: 0 auto 15px;
      padding-top: 10px;

      text-align: center;
      text-decoration: none;

      color: $blue;
      border: 1px solid $gray;
      border-radius: $base-border-radius;
      span {
        position: relative;

        display: block;

        width: 100%;
        height: 100px;
        margin-bottom: 5px;
        img {
          @extend .align-center;
        }
      }
    }
    h6 {
      font-size: 16px;
      font-weight: normal;
    }
    &:hover {
      .popular-cats--item-c {
        text-decoration: none;

        border: 1px solid #f5b635;
        box-shadow: inset 0 0 0 1px #f5b635;
        span {
          transform: scale(1.1);
        }
        h6 {
          transform: scale(1.1);
        }
      }
    }
  }
  .popular-cats--more {
    margin-bottom: 65px;
    padding-top: 28px;
    .btn {
      display: block;

      width: 100%;
      max-width: 245px;
      height: 45px;
      margin: 0 auto;
    }
  }
}
.topg {
  padding-top: 50px;
  padding-bottom: 45px;

  background-color: $gray;
  .topg--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 25px;

    text-align: center;
    span {
      font-weight: 500;
    }
  }
  .topg--subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 2;

    height: 40px;
    margin-bottom: 20px;

    text-align: center;
    &.topg--subtitle-y {
      color: $blue;
      background-color: $orange;
    }
    &.topg--subtitle-b {
      color: $orange;
      background-color: $blue;
    }
  }
}
.topg--item {
  height: 150px;
  margin-bottom: 25px;
  padding: 15px 6px 15px;

  transition: all .2s;

  border: 2px solid #fff;
  border-radius: $base-border-radius;
  background-color: #fff;

  @extend .clearfix;
  a {
    color: $blue;
  }
  .topg--item-avatar {
    float: left;

    width: 80px;
    height: 90px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .topg--item-name {
    font-size: 16px;
    font-weight: normal;

    float: left;

    width: 229px;
    height: 90px;
    padding-left: 5px;
    .topg--item-nname {
      color: $gray-dark;
    }
    .topg--item-available {
      font-size: 12px;

      display: block;

      padding-top: 8px;

      color: $gray-dark;
    }
    .topg--item-status {
      display: block;

      padding-top: 10px;
      span {
        font-size: 12px;
        font-weight: normal;

        display: inline-block;

        padding: 4px 15px;

        color: #fff;
        border-radius: $base-border-radius;
        background-color: $red;
      }
      &.topg--item-status-a {
        span {
          background-color: $green;
        }
      }
    }
  }
  .topg--item-rating {
    float: left;

    width: 135px;
    height: 90px;

    @extend .clearfix;
    .topg--item-circle {
      float: left;

      width: 46px;
      height: 46px;
      margin-bottom: 10px;
    }
    .topg--item-chart {
      position: relative;

      float: left;

      width: 22px;
      height: 46px;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-left: 30px;
      span {
        position: absolute;
        bottom: 0;

        display: block;

        width: 4px;
      }
      .topg--item-chart-p {
        left: 0;

        height: 0;

        transition: all 2s;

        background-color: $green;
      }
      .topg--item-chart-n {
        left: 8px;

        height: 0;

        transition: all 1s;

        background-color: $orange;
      }
      .topg--item-chart-m {
        right: 0;

        height: 0;

        transition: all .5s;

        background-color: $red;
      }
    }
    .topg--item-reviews {
      font-size: 13px;

      float: left;

      width: 100%;
      padding-top: 10px;

      text-align: center;

      color: #93a2b3;
      border-top: 1px solid #93a2b3;
      .topg--item-reviews-p {
        color: $green;
      }
      .topg--item-reviews-n {
        color: #93a2b3;
      }
      .topg--item-reviews-m {
        color: $red;
      }
    }
  }
  .topg--item-tags {
    float: left;

    width: 450px;
    span,
    a {
      font-size: 12px;

      display: inline-block;

      margin-right: 3px;
      padding: 3px 4px;

      color: $blue;
      background-color: $gray;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .topg--item-more {
    font-size: 16px;
    font-weight: normal;

    text-align: center;
    a {
      color: $blue;
      &:hover {
        text-decoration: none;

        border-bottom: 2px solid $orange;
      }
    }
  }
  &:hover {
    transform: scale(.98);

    border: 2px solid $orange;
  }
}
.topg--item-lister {
  height: 170px;
  margin: 0;
  padding: 20px;

  border: 1px solid $gray-light;
  border-top: 0;
  border-radius: 0;
  background-color: #fff;

  @extend .clearfix;
  a {
    color: $blue;
  }
  .topg--item-lister-d {
    float: left;

    width: 365px;
    min-height: 130px;
    .topg--item-avatar {
      float: left;

      width: 65px;
      height: 65px;
      margin: 0 15px 65px 0;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .topg--item-name {
    font-size: 16px;
    font-weight: normal;

    float: left;

    width: 285px;
    height: 90px;
    padding-left: 5px;
    .topg--item-nname {
      font-size: 12px;

      display: block;

      padding-top: 8px;

      color: $gray-dark;
    }
    .topg--item-available {
      font-size: 12px;

      display: block;

      padding-top: 8px;

      color: $gray-dark;
    }
    .topg--item-status {
      display: block;

      padding-top: 10px;
      span {
        font-size: 12px;
        font-weight: normal;

        display: inline-block;

        padding: 4px 15px;

        color: #fff;
        border-radius: $base-border-radius;
        background-color: $red;
      }
      &.topg--item-status-a {
        span {
          background-color: $green;
        }
      }
    }
  }
  .topg--item-tags {
    float: left;

    width: 285px;
    span,
    a {
      font-size: 12px;

      display: inline-block;

      margin-right: 10px;
      padding: 3px 4px;

      color: $blue;
      background-color: $gray;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .topg--item-rating {
    position: relative;

    float: right;

    width: 230px;
    min-height: 130px;

    @extend .clearfix;
    .topg--item-price {
      font-size: 18px;
      font-weight: normal;

      float: left;

      width: 100%;
      margin-bottom: 20px;
    }
    .topg--item-circle {
      float: left;

      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
    .topg--item-chart {
      position: relative;
      top: 6px;

      float: left;

      width: 45px;
      height: 44px;
      margin-right: 10px;
      margin-bottom: 10px;
      &:before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 3px;

        background-color: $gray;

        @extend .dblock;
      }
      span {
        position: absolute;
        bottom: 6px;

        display: block;

        width: 4px;
      }
      .topg--item-chart-p {
        left: 12px;

        height: 0;

        transition: all 2s;

        background-color: $green;
      }
      .topg--item-chart-n {
        left: 21px;

        height: 0;

        transition: all 1s;

        background-color: $orange;
      }
      .topg--item-chart-m {
        right: 11px;

        height: 0;

        transition: all .5s;

        background-color: $red;
      }
    }
    .topg--item-reviews {
      font-size: 13px;

      float: right;

      width: 100px;
      height: 50px;

      text-align: left;

      color: #93a2b3;
      .topg--item-reviews-nam {
        display: block;

        margin-bottom: 5px;
        padding-bottom: 5px;

        border-bottom: 1px solid #93a2b3;
      }
      .topg--item-reviews-p {
        color: $green;
      }
      .topg--item-reviews-n {
        color: #93a2b3;
      }
      .topg--item-reviews-m {
        color: $red;
      }
    }
  }
  .topg--item-more {
    font-size: 16px;
    font-weight: normal;

    text-align: center;
    a {
      color: $blue;
      &:hover {
        text-decoration: none;

        border-bottom: 2px solid $orange;
      }
    }
  }
  .topg--item-ofer {
    font-size: 12px;
    font-weight: normal;

    width: 100%;
    height: 30px;
    padding-top: 8px;

    color: $blue;
    border-bottom: 2px solid #e5eaee;
    background-color: $gray;
    &:hover {
      border-bottom: 2px solid #b78727;
      background-color: $orange;
    }
  }
  .topg--item-fav {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border-radius: 50%;
    background-image: url(../img/ico/topg--item-fav.png);
    background-position: center;
    &:hover {
      background-image: url(../img/ico/topg--item-fav-h.png);
    }
  }
  &:hover {
    // transform: scale(.98);
    border: 2px solid $orange;
  }
}
.lister-task {
  padding: 20px;

  border: 1px solid $gray-light;
  border-top: 0;
  background-color: #fff;

  @extend .clearfix;
  .lister-task-descr {
    float: left;

    width: 365px;
    .lister-task-title {
      font-size: 18px;

      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      font-weight: normal;

      margin-bottom: 0;
      padding-right: 5px;

      color: #93a2b3;
    }
  }
  .lister-task-info {
    float: right;

    width: 230px;
    padding-left: 8px;
    .lister-task-price {
      font-size: 18px;

      margin-bottom: 12px;
    }
    .lister-task-status {
      display: inline-block;

      margin-bottom: 10px;
      padding: 3px 5px;

      color: #fff;
      border-radius: $base-border-radius;
      background-color: $blue;
      &.lister-task-status-on {
        background-color: $green;
      }
      &.lister-task-status-off {
        background-color: #93a2b3;
      }
    }
    .lister-task-due {
      display: block;

      color: #93a2b3;
      .lister-task-due-a {
        color: $red;
      }
    }
  }
}
.addg {
  padding-top: 40px;
  padding-bottom: 40px;

  text-align: center;

  color: #fff;
  background-color: $blue;
  .addg--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 25px;
  }
  .addg--subtitle {
    font-size: 18px;
    font-weight: 300;

    margin-bottom: 35px;
  }
  .addg--href {
    .btn {
      width: 250px;
      height: 45px;

      border-bottom: 2px solid #0a170b;
    }
  }
}
.whatoffer {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: $gray;
  .whatoffer--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 30px;

    text-align: center;
    span {
      font-weight: 500;
    }
  }
  .whatoffer--item {
    position: relative;

    min-height: 75px;
    margin-bottom: 25px;
    padding: 10px 20px 10px 75px;

    transition: all .5s;

    border: 3px solid #fff;
    background-color: #fff;
    a {
      text-decoration: none;

      color: $blue;
    }
    .whatoffer--avatar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      display: block;

      width: 75px;

      cursor: pointer;

      background-repeat: no-repeat;
      background-position: center;
    }
    .whatoffer--item-title {
      font-size: 16px;
      font-weight: 500;
    }
    .whatoffer--item-descr {
      font-size: 13px;
      font-weight: 300;
    }
    .whatoffer--item-price {
      font-size: 32px;
      font-weight: 300;

      position: absolute;
      top: 50%;
      right: -12px;

      margin-top: -22px;
      padding-right: 15px;

      text-align: right;
    }
    &:hover {
      transform: scale(.98);

      border: 3px solid $orange;
      a {
        text-decoration: none;

        color: $blue;
      }
    }
  }
  .whatoffer--more {
    text-align: center;
    a {
      font-size: 16px;

      color: $blue;
      &:hover {
        text-decoration: none;

        border-bottom: 2px dotted $orange;
      }
    }
  }
}
.create-account {
  padding-top: 45px;
  padding-bottom: 50px;

  text-align: center;

  color: $blue;
  background-color: $orange;
  .create-account--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 15px;
  }
  .create-account--subtitle {
    font-size: 18px;
    font-weight: 300;

    margin-bottom: 25px;
  }
  .create-account--href {
    text-align: center;
    a {
      line-height: 1.5;

      display: inline-block;

      width: 250px;
      height: 45px;
      margin: 0 auto;
    }
  }
}
.countersg {
  padding-top: 80px;
  padding-bottom: 80px;

  text-align: center;
  .countersg--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 45px;
    span {
      font-weight: 500;
    }
  }
  .countersg--item {
    &.countersg--item-w {
      padding-right: 35px;
      padding-left: 35px;
    }
    h6 {
      font-size: 18px;
      font-weight: normal;

      margin-bottom: 16px;
    }
    .countersg--counter {
      font-size: 48px;
      font-weight: normal;

      display: block;

      margin-bottom: 6px;
      padding-top: 10px;
      padding-bottom: 10px;

      border-top: 3px solid $orange;
      border-bottom: 3px solid $orange;
    }
    .countersg--action {
      display: block;

      padding-top: 16px;
      padding-bottom: 16px;

      transition: all .5;

      color: $blue;
      border-radius: $base-border-radius;
      background-color: $gray;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.75);
      &:hover {
        transform: scale(1.01);
        text-decoration: none;
        // box-shadow: 0 2px 6px 0 rgba(0,0,0,.75);
      }
    }
  }
}
.howitsworks {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: $gray;
  .howitsworks--title {
    font-size: 32px;
    font-weight: 300;

    margin-bottom: 35px;
  }
  .howitsworks--item {
    &.howitsworks--item-w {
      padding-right: 40px;
      padding-left: 40px;
    }
    .howitsworks--image {
      position: relative;

      display: block;

      width: 100%;
      height: 65px;
      margin-bottom: 15px;
      img {
        @extend .align-center;
      }
    }
    .howitsworks--subtitle {
      font-size: 18px;
      font-weight: normal;

      margin-bottom: 25px;
    }
    p {
      font-size: 13px;
      font-weight: normal;
    }
  }
}
.searchsort {
  padding: 25px 20px 50px;

  border: 1px solid $gray-light;
  border-radius: $base-border-radius $base-border-radius 0 0;
  background-color: #fff;

  @extend .clearfix;
  form,
  select {
    height: 40px;
  }
  form {
    float: left;

    width: 300px;
    input {
      height: 100%;
      padding-left: 30px;

      background-image: url(../img/ico/searchsort-input.png);
      background-repeat: no-repeat;
      background-position: 10px center;
      box-shadow: none;
    }
  }
  input,
  select {
    color: $gray-light;
    border-color: $gray-light;
    border-radius: $base-border-radius;;
  }
  select {
    float: right;

    width: 140px;

    color: $blue;
  }
}
.pagination {
  margin: 0 0 38px;
  padding: 20px 0 0;
  nav {
    display: block;

    padding: 15px 20px;

    border-radius: $base-border-radius;
    background-color: #fff;
    span,
    a {
      line-height: 2;

      display: inline-block;

      height: 25px;
      padding: 0 10px;
      &.pagination-current {
        cursor: default;

        background-color: $orange;
      }
    }
    a {
      color: $blue;
    }
  }
}
aside {
  .widget {
    margin: 0 0 20px;
    padding: 0;

    border: 1px solid #e5eaee;
    background-color: #fff;
    h6 {
      font-size: 18px;

      margin: 0;
      padding: 20px 0;

      text-align: center;

      color: $blue;
      border-bottom: 1px solid #e5eaee;
    }
  }
  .widget--servicecat {
    ul {
      margin: 0;
      padding: 0;
      li {
        position: relative;

        display: block;

        padding: 20px 60px 20px 65px;

        border-bottom: 1px solid #e5eaee;
        &:last-child {
          border-bottom: 0;
        }
        a {
          color: $blue;
        }
        .widget--servicecat-img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 20px;

          display: block;

          width: 40px;
          height: 100%;
          margin: 0;
          img {
            @extend .align-center;
          }
        }
        .widget--servicecat-count {
          position: absolute;
          top: 0;
          right: 20px;
          bottom: 0;

          display: flex;

          width: 60px;
          height: 100%;

          text-align: right;

          color: #93a2b3;

          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }
  .widget--recomend {
    a {
      text-decoration: none;

      color: $blue;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 20px;

        border-bottom: 1px solid #e5eaee;

        @extend .clearfix;
        &:last-child {
          border-bottom: 0;
        }
        .widget--recomend-ava {
          display: inline-block;
          float: left;
          overflow: hidden;

          width: 65px;
          height: 65px;
          margin-right: 5px;
          img {
            min-width: 100%;
            min-height: 100%;
          }
        }
        .widget--recomend-name,
        .widget--recomend-price {
          display: inline-block;
          float: right;

          width: 165px;
        }
        .widget--recomend-name {
          font-size: 14px;
          span {
            color: #93a2b3;
          }
        }
        .widget--recomend-price {
          font-size: 18px;
        }
        .widget--recomend-tag {
          font-size: 12px;

          display: inline-block;

          margin-left: 5px;
          padding: 5px;
border-radius: $base-border-radius;
          background-color: $orange;
        }
      }
    }
  }
}
section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

footer {
  height: auto;
  /* margin: $footer_margin auto 0; */
  margin: 0 auto;
  padding-top: 40px;

  color: #fff;
  background-color: $blue;
  .footer-widget {
    h6 {
      font-size: 16px;
      font-weight: $fblack;

      margin-bottom: 20px;

      color: $orange;
    }
    ul {
      margin-bottom: 25px;
      li {
        font-size: 12px;

        margin-bottom: 10px;
        a {
          text-decoration: none;

          color: #fff;
          &:hover {
            color: $orange;
          }
        }
      }
    }
    .footer--socico {
      @extend .justify-child;
      li {
        display: inline-block;

        width: 40px;
        height: 40px;

        opacity: .9;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .footer-pay {
    ul {
      display: block;

      margin-bottom: 25px;
      padding-top: 15px;
      padding-bottom: 15px;

      text-align: center;

      border-top: 1px solid #1a3b5c;
      border-bottom: 1px solid #1a3b5c;
      li {
        display: inline-block;

        margin: 0 10px;
      }
    }
  }
  .footer-description {
    font-size: 12px;

    margin-bottom: 40px;

    color: #1a3b5c;

    column-count: 4;
    column-gap: 20px;
  }
  .footer-copy {
    font-size: 12px;

    margin-bottom: 35px;

    text-align: center;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
